
<h1>Listing tickets</h1>
<h3>Apellido y Nombre: <%= @customer.lastname + ", "+ @customer.name %></h3>

<div>   <%= nested_sub_tickets @ticket.path.arrange() %></div>
<table class="table">
  <tr>
    <th>Issue</th>
    <th>Date</th>
    <th>Message</th>
    <th>Status</th>
    <th>Departament</th>
    <th>Priority</th>
    <th>User</th>
    <th>Subticket</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= nested_sub_tickets @ticket.children.arrange() %>

</table>

