
<div class="section_complete">
    <h1><%= t('locations.editing.title') %></h1>
      <div class="data"> 
        <%= render 'form' %>
      </div>
<%= link_to t('labels.show'), @location %> |
<%= link_to t('labels.back'), locations_path %>
</div>
